.experiencia {
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 6fr ;
  gap: 10px;
  align-items: center;
}
.fo{
  background-color: black;
  color: white;
  padding: 40px;
 
}
img{
  margin-top: 40px;
}
.image{
  margin-left: 200px;
}
.space{
  margin-left: 320px;
  margin-top: 40px;
}
.space1{margin-left: 320px;
  margin-top: 40px;

}
@media(max-width:542px){
  .space{
    margin-left: 0px;
  }
  .space1{margin-left: 0px;
  
  }
  
}
@media(max-width:1500px){
  .image{margin-left: 180px;
  
  }
}
@media(max-width:1400px){
  .image{margin-left: 180px;
  
  }
}
@media(max-width:1261px){
  .image{margin-left: 160px;
  
  }
}
@media(max-width:961px){
  .image{margin-left: 120px;
  
  }
}
@media(max-width:717px){
  .image{margin-left: 80px;
  
  }
}

 .aolados{
  margin-left: 320px;
  color:black;
  margin-bottom: 52px;
}
.subir{ margin-left: 320px;
   width: 100px;
  height: 23px;
  padding: 10px;
  background-color: #EE9F13;
  text-align: center;
  text-decoration: none;
  color: black;
 
  
}
.descer{
  margin-left: 320px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.experiencia-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 40ch;
  margin-bottom: 60px;
  color: #525252;
}

.experiencia-texto strong {
  color: #141414;
}

.empresa {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 20px;
  padding: 20px;
  background: #f5f5f5;
  margin-bottom: 20px;
  border-radius: 4px;
  position: relative;
}

.empresa::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(#b6f829, #67dd0a);
  position: absolute;
  top: 20px;
  left: -4px;
}

.empresa-ano {
  position: absolute;
  top: 22px;
  left: -100px;
  text-align: right;
  width: 80px;
  color: #525252;
  font-size: 0.875rem;
}

.empresa-titulo {
  font-size: 1.125rem;
  line-height: 1.1;
  font-weight: bold;
}

.empresa-texto {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #525252;
}

.empresa-habilidades {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: start;
}

.empresa-habilidades li {
  font-size: 0.875rem;
  line-height: 1.4;
  border-radius: 4px;
  background: #ffffff;
  padding: 5px 10px;
}
.bo{
  margin-left: 300px;
}
@media(max-width:653px){
  .bo{margin-left: 20px;
  
  }
}
@media(max-width:1500px){
  .descer{margin-left: 100px;
  
  }
}
@media(max-width:1500px){
  .subir{margin-left: 100px;
  
  }
}
@media(max-width:1230px){
  .descer{margin-left: 0px;
  
  }
}
@media(max-width:1230px){
  .subir{margin-left: 0px;
  
  }
}
@media(max-width:400px){
  .descer{margin-left: 0px;
  
  }
}
@media(max-width:400px){
  .subir{margin-left: 0px;
  
  }
}

@media(max-width:1500px){
  .aolados{margin-left: 100px;
  
  }
}
@media(max-width:1230px){
  .aolados{margin-left: 0px;
  
  }
}
@media(max-width:400px){
  .aolados{margin-left: 0px;
  
  }
}

@media (max-width: 800px) {
  .experiencia {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  
  .experiencia .subtitulo {
    color: #141414;
  }
  .experiencia-texto {
    font-size: 1.25rem;
  }
  .empresa-ano {
    position: initial;
    order: 1;
    width: initial;
    text-align: left;
  }
}

@media (max-width: 400px) {
  .empresa {
    grid-template-columns: 1fr;
  }
}
